:root {
	--font-family: "Roboto", sans-serif;
	--color-accent: #1a943c;
	--color-accent-hover: #003f12;
}

body {
	font-family: var(--font-family);
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

/* Layouts */
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;
}

/* logo */
.logo img {
	max-width: 170px;
}

.sr-only {
	width: 0;
	height: 0;
	position: absolute;
}

/* link */
.link {
	transition: opacity .3s ease;
}
.link:hover {
	opacity: .5;
}

/* bg */
.bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* btn */
.btn {
	display: inline-block;
	padding: 20px 50px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.6;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--color-accent);
	transition: background-color .35s ease;
}
.btn:hover {
	background-color: var(--color-accent-hover);
}